<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/restaurants.css" />
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>Classroom</h1>
      <% if(numberOfRestaurants === 0) {%>
      <p>
        Unfortunately, no students have posted. Maybe check again later.
      </p>
      <% } else {%>
      <p>Interact with your class</p>
      <p>See what your classmates have to say</p>
      <form action ="/recommend" method ="GET">
      <!--- <input type ="hidden" value = "<%= nextOrder %>" name ="order">--->
        <button class ="btn">Post something to the class</button>
      </form>
      <ul id="restaurants-list">
        <% for ( const restaurant of restaurants) { %>
          <%- include('includes/restaurants/restaurant-items', {restaurant: restaurant}) %>
          <!-- I named the key that is restaurant to deliver data into it  -->
         <% } %>
      </ul>
      <% } %>
    </main>
  </body>
</html>
